{{define "Edit"}}

{{template "_head"}}

{{template "_nav"}}

<div class="container">

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-5">Editando produto</h1>
        <p class="lead">Insira os detalhes para atualizar</p>
      </div>
    </div>
    <form method="POST" action="insert">
      <input type="hidden" name="id" value="{{.ID}}">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="name" class="form-control" value="{{.Name}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" name="description" class="form-control" value="{{.Description}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="number" name="price" class="form-control" step="0.01" value="{{.Price}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantity" class="form-control" value="{{.Quantity}}">
          </div>
        </div>
      </div>
      <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
      <a class="btn btn-info" href="/">Voltar</a>
    </form>
  </body>

</html>
</div>
</body>

</html>

{{end}}
